:root{
    --color-f:#1d3557;
    --color-m:#457b9d;
    --color-d:#7eb1ff;
    --color-t:#f1faee;
}

* {
    margin: 0;
    padding: 0;
    font-family: Satoshi;
}
/* Modal */
#div_modal {
    display: none;
    width: 100%;
    height: 100%;
    font-family: Satoshi;
    background-color: #adadad96;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 11;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
table{
    border-spacing: 25px;
}
#div_modal > form {
    background-color: #457b9d;
    /* border: 1px solid #1d3557; */
    border-radius: 5px;
    height: auto;
    padding: 10px;
    box-shadow: 3px 3px 7px #444;
}
#advertencia_borrar_mensaje> form> table{
    width: 500px;
}
#div_modal > form tr > td{
    vertical-align: middle;
    text-align: center;
    line-height: 20px;
}
.button_salir{
    font-family: Satoshi-Bold;
    width: 60px;
    height: 40px;
    border: 2px solid rgba(#fff, 0.6);
    border-radius: 10px;
    color: rgba(#fff, 0.8);
    cursor: pointer;
    transition: border-color 0.5s, background-color 0.5s, color 0.5s;   
}
.button_salir:hover,.button_confirmar_advertencia:hover{
    background-color: var(--color-f);
    color: rgb(232, 106, 106);
}
.button_registrar,.button_enviar_mensaje,.button_confirmar_advertencia{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Satoshi-Bold;
    width: 100px;
    height: 40px;
    border: 2px solid rgba(#fff, 0.6);
    border-radius: 10px;
    color: rgba(#fff, 0.8);
    cursor: pointer;
    transition: border-color 0.5s, background-color 0.5s, color 0.5s;  
}  
.button_registrar:hover,.button_enviar_mensaje:hover,.button_salir_advertencia:hover{
    background-color: var(--color-f);
    color: rgb(147, 233, 98);
}
.button_login{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Satoshi-Bold;
    width: 90px;
    height: 40px;
    border: 2px solid rgba(#fff, 0.6);
    border-radius: 10px;
    color: rgba(#fff, 0.8);
    cursor: pointer;
    transition: border-color 0.5s, background-color 0.5s, color 0.5s;  
}  
.button_login:hover,.button_registrarx:hover,.button_loginx:hover{
    background-color: var(--color-f);
    color: rgb(147, 233, 98);
}
.button_registrarx,.button_loginx,.button_salir_advertencia{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Satoshi-Bold;
    width: 90px;
    height: 40px;
    border: 2px solid rgba(#fff, 0.6);
    background-color: #ffffff6a;
    border-radius: 10px;
    color: rgba(#fff, 0.8);
    cursor: pointer;
    transition: border-color 0.5s, background-color 0.5s, color 0.5s;  
}
.button_confirmar_advertencia{
    margin-left: 10px;
}
#tr_problematico{
    display: flex;
    align-items: center;
    justify-content: center;
}
#div_error,#div_error_mensaje,#rdiv_error{
    font-family: Satoshi-Bold;
    color:#bc202f;
    font-size: 19px;
    text-align: center;
    font-weight: 800;
}
#form_añadir_tema table{
    width: 500px;
}
#td_nombreT{
    width: 90px;
}
#rnombreTema{
    display: flex;
}
.Titulo_de_Forms{
    font-size: 50px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.Titulo_de_Forms_mensajes{
    font-size: 35px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
#Titulo_form_añadir_temas{
    font-size: 25px;
}
.Titulo_de_Form_advertencia{
    font-size: 35px;
    color: #bc202f;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
textarea {
    height: 100px;
    width: 200px; 
}
.campo_imput{
    text-align: right;
}
.td_login{
    text-align: right;
}

body {
    height: 100vh;
    display: grid;
    grid-template-columns: 230px 1fr;
    grid-template-rows: 90px 1fr 50px;
    grid-template-areas: "zh  zh" "zn  zs" "zf  zf";
}

header {
    grid-area: zh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1d3557;
    color: #f1faee;
    text-align: center;
    font-family: Satoshi-Bold;
    font-size: 30px;
    z-index: 10;
}
.foto_usuario_logeado img{
    width: 55px;
    position: absolute;
    left: 20px;
    top: 18px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    border-radius: 50%;
}
#bienvenida_usu{
    font-family: Satoshi;
    font-weight: 200;
    position: absolute;
    left: 100px;
    top: 32px;
    font-size: 18px;
    display: none;
}
#login{
    text-align: center;
    font-size: 20px;
    position: absolute;
    top:18px;
    right: 20px;
    height: 55px;
    width: 130px;
    border-radius: 10px;
    cursor: pointer;
}

.btn-hover {
    width: 200px;
    font-size: 16px;
    color: #1d3557;
    cursor: pointer;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    color: var(--color-t);
    
}

.btn-hover:focus {
    outline: none;
}
.btn-hover.color-7 {
    background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
    box-shadow: 0 4px 15px 0 rgba(126, 52, 161, 0.75);
}


header>h1 {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

nav {
    grid-area: zn;
    background-color: #457b9d;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #f1faee;
    font-family: Satoshi;
    font-size: 15px;
    position: fixed;
    top: 70px;
    left: 0px;
    width: 230px;
    height: 100%;
}

#relleno {
    height: 25%;
    width: 230px;
    background-color: #457b9d;
    position: fixed;
    left: 0;
    top: 0;
}

#titulo_nav {
    margin: 30px 0 20px 0;
    font-family: Satoshi-Bold;
    z-index: 20;
    color: #f1faee;
    text-align: center;
    font-size: 35px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

#bombilla {
    color: yellow;
    cursor: pointer;
    
}

nav .contenedor_temas {
    background-color: #1d3557;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 140px;
    border-radius: 5px;
    margin-top: 40px;
    transition: font-size 0.5s, display 0.5s, border-color 0.5s, margin-right 0.5s, background-color 0.5s, color 0.5s, padding 0.5s;
    cursor: pointer;
    color: rgba(#fff, 0.8);
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.5);
    height: 30px;
    font-size: 17px;
}

nav>.contenedor_temas:hover {
    background-color: #a8dadc;
    border-color: transparent;
    color: #000;
    font-weight: 650;
    margin-right: 17px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);

    .contador {
        opacity: 1;
        color: rgb(255, 17, 0);
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
        margin-right: 17px;
        font-size: 12px;
    }

    .menos {
        opacity: 1;
        margin-left: 30px;
    }
}

.tema {
    padding-left: 20px;
}

.contador {
    opacity: 0;
    transition: opacity 0.3s ease;
    transition: margin-right 0.5s;
    margin-top: 5px;

}

.menos {
    font-size: 24px;
    width: 17px;
    color: red;
    position: absolute;
    left: 155px;
    transition: color 0.5s;
    opacity: 0;
    transition: opacity 0.3s ease, margin-left 0.5s; 
}

.menos:hover {
    animation: moveTrash 0.2s infinite alternate;
}

nav .contenedor_temas.seleccionado {
    background-color: #fff;
    border-color: transparent;
    color: #444;
    font-weight: 650;
    margin-right: 17px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

nav .contenedor_temas.seleccionado .contador {
    opacity: 1;
}

nav .contenedor_temas.seleccionado .menos {
    opacity: 1;
    margin-left: 24px;
}

section {
    grid-area: zs;
    background: #7eb1ff; 
    display: block;
    height: 100%;
}
.titulo_mensaje{
    font-family: Satoshi-Bold;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 50px; 
    margin: 40px 0 50px 0;
    color: #1d3557;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    z-index: 2;
}

#añadir_mensaje{
    color: rgb(120, 226, 99);
    font-size: 40px;
    cursor: pointer;
    z-index: 2;

    
}
section>.gran_contenedor_mensaje {
    width: 90%;
    height: 150px;
    background-color: #f1faee;
    margin: 15px 15px 0 60px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.cont_foto {
    width: 95px;
    height: 95px;
    flex: 0 0 auto;
    margin-right: 10px;
    text-align: center;
    padding-left: 10px;
    border-radius: 50%;
    z-index: 7;
}

.foto_usuario {
    width: 95%;
    border-radius: 50%;
    transition: scale 0.5s;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); 

}
.foto_usuario img {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); 

}

.foto_usuario:hover {
    scale: 1.08;
}

.mensaje {
    font-size: 17px;
    flex: 1;
    text-align: left;
    padding-left: 30px;
    overflow-wrap: break-word;
}

.mensaje {
    animation-duration: 1s;
    animation-name: slidein;
    text-shadow: 0.5px 0.5px 2px rgba(0, 0, 0, 0.5);
}

.fecha_hora {
    position: relative;
    left: 55px;
    top: 5px;
    width: 100px;
    height: 50px;
    color: var(--color-f);
    text-align: center;
    flex: 0 0 auto;
    text-align: right;
    /* margin-right: 10px; */

}
/* ----------- VOTOS -----------*/
.Cont_votos{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    right: 10px;
    top: 60px;
    width: 70px;
    height: 20px;
    background-color: var(--color-t);
}
.div_num_votos_positivos,.div_num_votos_negativos{
    font-family: Satoshi-Bold;
    font-size: 17px;
    background-color: var(--color-t);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15px;
    width: 20px;
}
.div_like{
    /* background-color: #78fa07; */
    color: var(--color-t);
    text-shadow: 
        1px 1px 0 #1b8902, 
        -1px -1px 0 #1b8902, 
        -1px  1px 0 #1b8902; 
    height: 17px;
    width: 20px;
    transition: padding-bottom 0.3s,color 0.5s;
    cursor: pointer;
    z-index: 1;
}
.div_like:hover{
    color: #27920c;
    text-shadow: none;
    padding-bottom: 5px;
}
.div_dislike{
    /* background-color: #fa2307; */
    color:  var(--color-t);
    text-shadow: 
        1px 1px 0 #fa2307, 
        -1px -1px 0 #fa2307, 
        -1px  1px 0 #fa2307;
    height: 17px;
    width: 20px;
    padding-left: 8px;
    transition: padding-top 0.3s,color 0.5s;
    cursor: pointer;
    z-index: 1;
}
.div_dislike:hover{
    color:  #fa2307;
    text-shadow: none;
    padding-top: 5px;
}







.text_eliminar_mensaje {
    position: relative;
    left: 65px;
    bottom: 8px;
    font-size: 30px;
    cursor: pointer;
    color: var(--color-f);
    z-index: 2;
    padding-bottom: 110px;
    padding-right: 5px;
    transition: color 0.2s;
}
.text_eliminar_mensaje:hover {
    color: red;
}
footer {
    grid-area: zf;
    background-color: rgb(31, 30, 30);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    z-index: 9;
}

#boton-scroll {
    position: fixed;
    bottom: 10px;
    right: 10px;
    height: 70px;
    cursor: pointer;
    z-index: 15;
    transition: opacity 0.3s ease, transform 0.3s ease;
    animation: moveUpDown 0.5s infinite alternate;
}

.hide {
    opacity: 0;
}

/* Flecha */
@keyframes moveUpDown {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(10px);
    }
}

/* Basura */
@keyframes moveTrash {
    0% {
        transform: translateX(-1px);
    }

    100% {
        transform: translateX(1px);
    }
}

/* Responsive */
@media screen and (min-width: 900px) {


    section>.cont_foto {
        width: 45%;
    }

    section>.cont_foto>img:hover {
        scale: 1.08;
    }

}

@media screen and (min-width: 1200px) {
    #relleno {
        width: 230px;
    }

    section>.cont_foto {
        width: 30%;
    }

    */ section>.cont_foto {
        padding: 16px 16px 0 16px;
    }

    section>.cont_foto>img:hover {
        scale: 1.1;
    }
}



@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}

@font-face {
    font-family: Array;
    src: url(../fuentes/Array-Bold.otf);
}

@font-face {
    font-family: Satoshi;
    src: url(../fuentes/Satoshi-Regular.otf);
}

@font-face {
    font-family: Satoshi-Bold;
    src: url(../fuentes/Satoshi-Bold.otf);
}


.area{
    background: #4e54c8;  
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    width: 100%;
    height:100vh;
}

.circles{
    position: absolute;
    left: 210px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}

.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}